@import "tailwindcss";

@theme {
  --bottom-shadow: 0 0px 12px rgba(46, 45, 116, 0.08);
  --color-primary-text-black: rgba(39, 43, 53, 1);
  --color-secondary-text-black: rgba(119, 121, 128, 1);
  --color-secondary-text-gray: #272b35;
  --color-primary-text-blue: #316eed;
  --color-blue-light: #f9fbff;
  --color-primary-red: #ff6a62;
  --button-secondary: 1px solid #e0e0e0;
}
